@charset "UTF-8";

body { margin: 0 auto; max-width: 1024px; }
header img { max-height: 80px; }
.w3-navbar li a { padding-left: 11px; padding-right: 13px; }
article img { width: 100%; max-width: 500px; }
.jf-z1 { z-index: 1; }
.jf-round-top-8 { border-radius: 8px 8px 0 0; }
.jf-round-bottom-8 { border-radius: 0 0 8px 8px; }
.jf-padding-top-16 { padding-top: 16px; }
.jf-padding-bottom-16 { padding-bottom: 16px; }
a:hover { cursor: pointer; }
.w3-top { position: sticky; position: -webkit-sticky; }

/*-------------------------------------------------------------------------*/
/*------------------------ C O L O R  T H E M E ---------------------------*/
/*-------------------------------------------------------------------------*/
.w3-theme-l5 {color:#000 !important; background-color:#fefbf5 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fcf2dc !important}
.w3-theme-l3 {color:#000 !important; background-color:#f9e6ba !important}
.w3-theme-l2 {color:#000 !important; background-color:#f5d997 !important}
.w3-theme-l1 {color:#000 !important; background-color:#f2cd75 !important}
.w3-theme-d1 {color:#000 !important; background-color:#ecb535 !important}
.w3-theme-d2 {color:#000 !important; background-color:#e9ab18 !important}
.w3-theme-d3 {color:#fff !important; background-color:#ce9613 !important}
.w3-theme-d4 {color:#fff !important; background-color:#b08010 !important}
.w3-theme-d5 {color:#fff !important; background-color:#936b0e !important}

.w3-theme-light {color:#000 !important; background-color:#fefbf5 !important}
.w3-theme-dark {color:#fff !important; background-color:#936b0e !important}
.w3-theme-action {color:#fff !important; background-color:#936b0e !important}

.w3-theme {color:#000 !important; background-color:#efc050 !important}
.w3-text-theme {color:#936b0e !important}
.w3-text-theme-d1 {color:#ec3535 !important}
.w3-theme-border {border-color:rgba(149, 109, 14, 0.3) !important}
.w3-hover-theme:hover {color:#000 !important; background-color:#efc050 !important}

.jf-theme-a {color:#c31515 !important}
.jf-theme-border {border-color:#f5d997 !important}
